.main-container.git-merge-conflict {
    --git-color: var(--vscode-gitDecoration-conflictingResourceForeground);
    border-top-color: var(--git-color);
    box-shadow: inset 0px 20px 20px -20px var(--git-color);
}

.main-container.git-file-changed {
    --git-color: var(--vscode-gitDecoration-modifiedResourceForeground);
    border-top-color: var(--git-color);
}

.main-container.git-file-added {
    --git-color: var(--vscode-gitDecoration-addedResourceForeground);
    border-top-color: var(--git-color);
}

.main-container {
    margin: 0;
    padding: 0;
    border-top: 3px solid transparent;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.header {
    padding: 0 25px;
    flex-shrink: 0;
}

/*show in the very top right corner of the current parent div*/
.top-right {
    position: absolute;
    top: 0;
    right: 0;
    padding-right: 10px;
    padding-top: 10px;
}

.git-status-mini{
    font-size: 0.7em;
}

.git-merge-conflict .git-status-mini{
    font-size: 1em;
    font-weight: bold;
}

.git-color{
    color: var(--git-color);
}

body{
    padding: 0;
    overflow: hidden;
    height: 100%;
}

html{
    height: 100%;
}


/*make columns scroll by them selfs*/

.collumns-container {
    display: flex;
    flex-grow: 1;
    overflow: hidden;
    padding-bottom: 2px;
}

.collumn {
    flex: 1;
    overflow: auto;
    border-right: 1px solid var(--vscode-editorWidget-border);
    padding: 2px 0;
}

.collumn:last-child {
    border-right: none;
}


