.main-container.git-merge-conflict {
    --git-color: var(--vscode-gitDecoration-conflictingResourceForeground);
    border-top-color: var(--git-color);
    box-shadow: inset 0px 20px 20px -20px var(--git-color);
}

.main-container.git-file-changed {
    --git-color: var(--vscode-gitDecoration-modifiedResourceForeground);
    border-top-color: var(--git-color);
}

.main-container.git-file-added {
    --git-color: var(--vscode-gitDecoration-addedResourceForeground);
    border-top-color: var(--git-color);
}

.main-container {
    margin: 0;
    padding: 0;
    border-top: 3px solid transparent;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.header {
    padding: 0 25px;
    flex-shrink: 0;
}

/*show in the very top right corner of the current parent div*/
.top-right {
    position: absolute;
    top: 0;
    right: 0;
    padding-right: 10px;
    padding-top: 10px;
}

.git-status-mini{
    font-size: 0.7em;
}

.git-merge-conflict .git-status-mini{
    font-size: 1em;
    font-weight: bold;
}

.git-color{
    color: var(--git-color);
}

body{
    padding: 0;
    overflow: hidden;
    height: 100%;
}

html{
    height: 100%;
}


/*make columns scroll by them selfs*/

.collumns-container {
    display: flex;
    flex-grow: 1;
    overflow: hidden;
    padding-bottom: 2px;
}

.collumn {
    flex: 1;
    overflow: auto;
    border-right: 1px solid var(--vscode-editorWidget-border);
    padding: 2px 0;
}

.collumn:last-child {
    border-right: none;
}


/*
Colors for list and trees like the File Explorer. An active list/tree has keyboard focus, an inactive does not.
    list.activeSelectionBackground: List/Tree background color for the selected item when the list/tree is active.
    list.activeSelectionForeground: List/Tree foreground color for the selected item when the list/tree is active.
    list.activeSelectionIconForeground: List/Tree icon foreground color for the selected item when the list/tree is active. An active list/tree has keyboard focus, an inactive does not.
    list.dropBackground: List/Tree drag and drop background when moving items around using the mouse.
    list.focusBackground: List/Tree background color for the focused item when the list/tree is active.
    list.focusForeground: List/Tree foreground color for the focused item when the list/tree is active. An active list/tree has keyboard focus, an inactive does not.
    list.focusHighlightForeground: List/Tree foreground color of the match highlights on actively focused items when searching inside the list/tree.
    list.focusOutline: List/Tree outline color for the focused item when the list/tree is active. An active list/tree has keyboard focus, an inactive does not.
    list.focusAndSelectionOutline: List/Tree outline color for the focused item when the list/tree is active and selected. An active list/tree has keyboard focus, an inactive does not.
    list.highlightForeground: List/Tree foreground color of the match highlights when searching inside the list/tree.
    list.hoverBackground: List/Tree background when hovering over items using the mouse.
    list.hoverForeground: List/Tree foreground when hovering over items using the mouse.
    list.inactiveSelectionBackground: List/Tree background color for the selected item when the list/tree is inactive.
    list.inactiveSelectionForeground: List/Tree foreground color for the selected item when the list/tree is inactive. An active list/tree has keyboard focus, an inactive does not.
    list.inactiveSelectionIconForeground: List/Tree icon foreground color for the selected item when the list/tree is inactive. An active list/tree has keyboard focus, an inactive does not.
    list.inactiveFocusBackground: List background color for the focused item when the list is inactive. An active list has keyboard focus, an inactive does not. Currently only supported in lists.
    list.inactiveFocusOutline: List/Tree outline color for the focused item when the list/tree is inactive. An active list/tree has keyboard focus, an inactive does not.
    list.invalidItemForeground: List/Tree foreground color for invalid items, for example an unresolved root in explorer.
    list.errorForeground: Foreground color of list items containing errors.
    list.warningForeground: Foreground color of list items containing warnings.
    listFilterWidget.background: List/Tree Filter background color of typed text when searching inside the list/tree.
    listFilterWidget.outline: List/Tree Filter Widget's outline color of typed text when searching inside the list/tree.
    listFilterWidget.noMatchesOutline: List/Tree Filter Widget's outline color when no match is found of typed text when searching inside the list/tree.
    listFilterWidget.shadow: Shadow color of the type filter widget in lists and tree.
    list.filterMatchBackground: Background color of the filtered matches in lists and trees.
    list.filterMatchBorder: Border color of the filtered matches in lists and trees.
    list.deemphasizedForeground: List/Tree foreground color for items that are deemphasized.
    list.dropBetweenBackground: List/Tree drag and drop border color when moving items between items when using the mouse.
    tree.indentGuidesStroke: Tree Widget's stroke color for indent guides.
    tree.inactiveIndentGuidesStroke: Tree stroke color for the indentation guides that are not active.
    tree.tableColumnsBorder: Tree stroke color for the indentation guides.
    tree.tableOddRowsBackground: Background color for odd table rows.
*/

.tree-view ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

/* disable selection for entire tree view*/
.tree-view {
    user-select: none;
}

.tree-view li.collapsed + ul {
    display: none;
}

.tree-view li {
    padding: 0;
    margin: 0;
    padding: 2.31px 0;
}

.tree-view li:hover {
    background-color: var(--vscode-list-hoverBackground);
    color: var(--vscode-list-hoverForeground);
}

.tree-view li .tree-view-text{
    padding: 0 0 0 0px;
}

.tree-view .codicon {
    transform: translateY(3px);
    width: 22px;
}


