.inspector-external-symbol::before{
    font-size: 0.7em;
}
/*
--vscode-list-hoverBackground
--vscode-list-hoverForeground
--vscode-list-activeSelectionBackground
--vscode-list-activeSelectionForeground

*/

.inspector-collumn{
    flex:2;
}

.inspector-link{
    text-decoration: none;
    border: 1px solid var(--vscode-textSeparator-foreground);
    border-radius: 5px;
}

.inspector-link:hover{
    background-color: var(--vscode-list-hoverBackground);
    color: var(--vscode-list-hoverForeground);
}

.inspector-block{
    border: 1px solid var(--vscode-textSeparator-foreground);
    border-radius: 5px;
    padding: 5px;
    margin: 5px;
    padding-left: 10px;
    margin-left: 10px;
    margin-bottom: 20px;
}

.inspector-block-header{
    margin-top: 5px;
}