
/*
Colors for list and trees like the File Explorer. An active list/tree has keyboard focus, an inactive does not.
    list.activeSelectionBackground: List/Tree background color for the selected item when the list/tree is active.
    list.activeSelectionForeground: List/Tree foreground color for the selected item when the list/tree is active.
    list.activeSelectionIconForeground: List/Tree icon foreground color for the selected item when the list/tree is active. An active list/tree has keyboard focus, an inactive does not.
    list.dropBackground: List/Tree drag and drop background when moving items around using the mouse.
    list.focusBackground: List/Tree background color for the focused item when the list/tree is active.
    list.focusForeground: List/Tree foreground color for the focused item when the list/tree is active. An active list/tree has keyboard focus, an inactive does not.
    list.focusHighlightForeground: List/Tree foreground color of the match highlights on actively focused items when searching inside the list/tree.
    list.focusOutline: List/Tree outline color for the focused item when the list/tree is active. An active list/tree has keyboard focus, an inactive does not.
    list.focusAndSelectionOutline: List/Tree outline color for the focused item when the list/tree is active and selected. An active list/tree has keyboard focus, an inactive does not.
    list.highlightForeground: List/Tree foreground color of the match highlights when searching inside the list/tree.
    list.hoverBackground: List/Tree background when hovering over items using the mouse.
    list.hoverForeground: List/Tree foreground when hovering over items using the mouse.
    list.inactiveSelectionBackground: List/Tree background color for the selected item when the list/tree is inactive.
    list.inactiveSelectionForeground: List/Tree foreground color for the selected item when the list/tree is inactive. An active list/tree has keyboard focus, an inactive does not.
    list.inactiveSelectionIconForeground: List/Tree icon foreground color for the selected item when the list/tree is inactive. An active list/tree has keyboard focus, an inactive does not.
    list.inactiveFocusBackground: List background color for the focused item when the list is inactive. An active list has keyboard focus, an inactive does not. Currently only supported in lists.
    list.inactiveFocusOutline: List/Tree outline color for the focused item when the list/tree is inactive. An active list/tree has keyboard focus, an inactive does not.
    list.invalidItemForeground: List/Tree foreground color for invalid items, for example an unresolved root in explorer.
    list.errorForeground: Foreground color of list items containing errors.
    list.warningForeground: Foreground color of list items containing warnings.
    listFilterWidget.background: List/Tree Filter background color of typed text when searching inside the list/tree.
    listFilterWidget.outline: List/Tree Filter Widget's outline color of typed text when searching inside the list/tree.
    listFilterWidget.noMatchesOutline: List/Tree Filter Widget's outline color when no match is found of typed text when searching inside the list/tree.
    listFilterWidget.shadow: Shadow color of the type filter widget in lists and tree.
    list.filterMatchBackground: Background color of the filtered matches in lists and trees.
    list.filterMatchBorder: Border color of the filtered matches in lists and trees.
    list.deemphasizedForeground: List/Tree foreground color for items that are deemphasized.
    list.dropBetweenBackground: List/Tree drag and drop border color when moving items between items when using the mouse.
    tree.indentGuidesStroke: Tree Widget's stroke color for indent guides.
    tree.inactiveIndentGuidesStroke: Tree stroke color for the indentation guides that are not active.
    tree.tableColumnsBorder: Tree stroke color for the indentation guides.
    tree.tableOddRowsBackground: Background color for odd table rows.
*/

.tree-view ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

/* disable selection for entire tree view*/
.tree-view {
    user-select: none;
}

.tree-view li.collapsed + ul {
    display: none;
}

.tree-view li {
    padding: 0;
    margin: 0;
    padding: 2.31px 0;
}

.tree-view li:hover {
    background-color: var(--vscode-list-hoverBackground);
    color: var(--vscode-list-hoverForeground);
}

.tree-view li .tree-view-text{
    padding: 0 0 0 0px;
}

.tree-view li .tree-view-chevron {
    transform: translateY(3px);
    width: 22px;
}

.tree-view .selected{
    background-color: var(--vscode-list-activeSelectionBackground);
    color: var(--vscode-list-activeSelectionForeground);
}

.tree-view li:hover.selected {
    background-color: var(--vscode-list-activeSelectionBackground);
    color: var(--vscode-list-activeSelectionForeground);
}

